* {
  
  
  background: blue;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: aliceblue;
  font-size: 3rem;
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  background: rgb(134, 201, 230);
}

.calculator > * {
  font-size: 2rem;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  margin: 2px;
  border-radius: 4px;
  min-width: 50px;
  background: gray;
}

.row {
  grid-column: 1/-1;
  background-color: black;
  color: white;
}

#display {
  height: 30px;
  font-size: 2rem;
  text-align: right;
  line-height: 30px;
  background: rgb(228, 228, 228);
  color: black;
}